    <link rel="stylesheet" href="/css/latest-tweets.css">

    <section class="latest-tweets">
      <div class="latest-tweets__container">
        <div class="animated fade-in-down">

          <svg class="latest-tweets__icon" viewBox="0 0 40 40">
            <use xlink:href="#icon-twitter" fill="white"></use>
          </svg>
          <h2 class="latest-tweets__heading">Latest Tweets</h2>
          <a class="secondary-link" href="/blog">read more on my blog</a>

          <ul class="latest-tweets__list">
            <% tweets.forEach((tweet) => { %>
              <li class="latest-tweets__tweet">
                <% tweet.forEach((segment) => { %>
                  <% if (segment.type === 'LINK' || segment.type === 'HASH' || segment.type === 'USER') { %>
                    <a class="secondary-link underlined-link" href="<%= segment.url %>" target="_blank"><%= segment.content %></a>
                  <% } else { %>
                    <span><%- segment.content %></span>
                  <% } %>
                <% }) %>
              </li>
            <% }) %>
          </ul>

        </div>
      </div>
    </section>

    <link rel="stylesheet" href="/css/site-footer.css">

    <footer class="site-footer">
      <div class="site-footer__container">
        <div class="animated fade-in-down">

          <p class="site-footer__text">
            <a class="secondary-link" href="mailto:endaquigley@gmail.com">endaquigley@gmail.com</a>
          </p>

        </div>
      </div>
    </footer>

  </body>
</html>