  <section class="latest-tweets">
    <div class="container">
      <a href="https://www.twitter.com/endaquigley">
        <svg class="latest-tweets__icon" viewBox="0 0 40 40">
          <use xlink:href="#icon-twitter" fill="white"></use>
        </svg>
        <h2 class="latest-tweets__heading section__heading" style="margin-bottom: 6px">Latest Tweets</h2>
      </a>
      <a href="/blog" style="color: white; display: inline-block; margin-bottom: 45px">read more on my blog</a>

      <ul class="latest-tweets__list fadeInDown animated">
        <% tweets.forEach((tweet) => { %>
          <li class="latest-tweets__tweet">
            <% tweet.forEach((segment) => { %>
              <% if (segment.type === 'LINK' || segment.type === 'HASH' || segment.type === 'USER') { %>
                <a href="<%= segment.url %>" target="_blank"><%= segment.content %></a>
              <% } else { %>
                <span><%- segment.content %></span>
              <% } %>
            <% }) %>
          </li>
        <% }) %>
      </ul>

    </div>
  </section>

  <footer class="main-footer hero-banner">
    <div class="hero-banner__overlay hero-banner__overlay--smaller">
      <div class="container fadeInDown animated">
        <p class="main-footer__text"><a href="mailto:endaquigley@gmail.com">endaquigley@gmail.com</a></p>
      </div>
    </div>
  </footer>

</body>
</html>