<!DOCTYPE html>

<html lang="en">
<head>

  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27055432-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-27055432-1');
  </script>

</head>
  <body>

    <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="320" height="40" viewBox="0 0 320 40">
      <defs>
        <g id="icon-twitter">
          <path class="path1" d="M40 7.594c-1.472 0.653-3.053 1.094-4.713 1.292 1.694-1.016 2.996-2.624 3.608-4.54-1.586 0.941-3.342 1.623-5.211 1.991-1.497-1.595-3.63-2.591-5.99-2.591-4.532 0-8.207 3.674-8.207 8.206 0 0.643 0.073 1.27 0.213 1.87-6.82-0.342-12.867-3.609-16.915-8.574-0.706 1.212-1.111 2.622-1.111 4.126 0 2.847 1.449 5.359 3.651 6.831-1.345-0.043-2.611-0.412-3.717-1.026-0.001 0.034-0.001 0.069-0.001 0.103 0 3.976 2.829 7.293 6.583 8.047-0.689 0.187-1.414 0.288-2.162 0.288-0.529 0-1.043-0.052-1.544-0.147 1.044 3.26 4.075 5.633 7.666 5.699-2.809 2.201-6.347 3.513-10.192 3.513-0.662 0-1.316-0.039-1.958-0.115 3.632 2.329 7.945 3.687 12.58 3.687 15.095 0 23.349-12.505 23.349-23.349 0-0.356-0.008-0.71-0.024-1.062 1.604-1.157 2.995-2.602 4.095-4.248z"></path>
        </g>
        <g id="icon-github">
          <path class="path1" d="M20 0c-11.046 0-20 8.954-20 20s8.954 20 20 20 20-8.954 20-20-8.954-20-20-20zM31.877 31.877c-1.544 1.544-3.34 2.755-5.34 3.601-0.508 0.215-1.024 0.403-1.547 0.566v-2.997c0-1.576-0.54-2.734-1.621-3.477 0.677-0.065 1.299-0.156 1.865-0.273s1.165-0.286 1.797-0.508 1.198-0.485 1.699-0.791 0.983-0.703 1.445-1.191 0.85-1.042 1.162-1.66 0.56-1.361 0.742-2.227 0.273-1.82 0.273-2.861c0-2.018-0.658-3.737-1.973-5.156 0.599-1.563 0.534-3.262-0.195-5.098l-0.488-0.059c-0.339-0.039-0.947 0.104-1.826 0.43s-1.865 0.859-2.959 1.602c-1.549-0.43-3.158-0.645-4.824-0.645-1.68 0-3.281 0.215-4.805 0.645-0.69-0.469-1.344-0.856-1.963-1.162s-1.113-0.514-1.484-0.625-0.716-0.179-1.035-0.205-0.524-0.033-0.615-0.020-0.156 0.026-0.195 0.039c-0.729 1.849-0.794 3.548-0.195 5.098-1.315 1.419-1.973 3.138-1.973 5.156 0 1.042 0.091 1.995 0.273 2.861s0.43 1.608 0.742 2.227 0.7 1.172 1.162 1.66 0.944 0.885 1.445 1.191 1.068 0.57 1.699 0.791 1.23 0.391 1.797 0.508 1.188 0.208 1.865 0.273c-1.068 0.729-1.602 1.888-1.602 3.477v3.056c-0.59-0.176-1.171-0.383-1.742-0.625-2-0.846-3.796-2.057-5.34-3.601s-2.755-3.34-3.601-5.34c-0.875-2.069-1.319-4.268-1.319-6.537s0.444-4.468 1.319-6.537c0.846-2 2.057-3.796 3.601-5.34s3.34-2.755 5.34-3.601c2.069-0.875 4.268-1.319 6.537-1.319s4.468 0.444 6.537 1.319c2 0.846 3.796 2.057 5.34 3.601s2.755 3.34 3.601 5.34c0.875 2.069 1.319 4.268 1.319 6.537s-0.444 4.468-1.319 6.537c-0.846 2-2.057 3.796-3.601 5.34z"></path>
        </g>
        <g id="icon-linkedin">
          <path class="path1" d="M20 0.8c-10.604 0-19.2 8.596-19.2 19.2s8.596 19.2 19.2 19.2 19.2-8.596 19.2-19.2-8.596-19.2-19.2-19.2zM15.3 27.958h-3.888v-12.51h3.888v12.51zM13.332 13.912c-1.228 0-2.022-0.872-2.022-1.946 0-1.1 0.818-1.944 2.072-1.944s2.022 0.844 2.046 1.944c0.002 1.076-0.792 1.946-2.096 1.946zM29.498 27.958h-3.886v-6.934c0-1.612-0.564-2.71-1.97-2.71-1.074 0-1.712 0.742-1.996 1.458-0.102 0.254-0.128 0.614-0.128 0.97v7.214h-3.89v-8.52c0-1.56-0.050-2.866-0.102-3.99h3.376l0.18 1.738h0.076c0.512-0.818 1.766-2.020 3.864-2.020 2.558 0 4.476 1.712 4.476 5.396v7.398z"></path>
        </g>
        <g id="icon-email">
          <path class="path1" d="M20.019 23.576l-5.090-4.179-11.077 13.079h32.345l-11.079-13.209-5.099 4.309zM37.407 7.524h-34.769l17.385 14.622 17.384-14.623zM25.881 18.609l11.614 13.855v-23.69l-11.614 9.835zM2.505 8.774v23.69l11.614-13.855-11.614-9.835z"></path>
        </g>
      </defs>
    </svg>

    <link rel="stylesheet" href="/css/site-header.css">

    <header class="site-header">
      <div class="site-header__container">
        <div class="animated fade-in-down">

          <h1 class="site-header__heading">
            <a class="secondary-link" href="/">Enda Quigley</a>
          </h1>
          <p class="site-header__tagline">Frontend / UI Developer</p>

          <link rel="stylesheet" href="/css/social-media.css">

          <div class="social-media">
            <a class="secondary-link" href="https://www.twitter.com/endaquigley" alt="Twitter">
              <svg class="social-media__icon" viewBox="0 0 40 40">
                <use xlink:href="#icon-twitter" fill="white"></use>
              </svg>
            </a>
            <a class="secondary-link" href="https://www.github.com/endaquigley" alt="GitHub">
              <svg class="social-media__icon" viewBox="0 0 40 40">
                <use xlink:href="#icon-github" fill="white"></use>
              </svg>
            </a>
            <a class="secondary-link" href="https://www.linkedin.com/in/endaquigley" alt="LinkedIn">
              <svg class="social-media__icon" viewBox="0 0 40 40">
                <use xlink:href="#icon-linkedin" fill="white"></use>
              </svg>
            </a>
            <a class="secondary-link" href="mailto:endaquigley@gmail.com" alt="Contact">
              <svg class="social-media__icon" viewBox="0 0 40 40">
                <use xlink:href="#icon-email" fill="white"></use>
              </svg>
            </a>
          </div>

        </div>
      </div>
    </header>

    <link rel="stylesheet" href="/css/content-area.css">