<% include partials/header %>

<main class="content-area">
  <div class="content-area__container">

    <div class="content-area__header">
      <h1 class="content-area__title">Blog</h1>
    </div>

    <link rel="stylesheet" href="/css/blog-listing.css">

    <ul class="blog-listing">
      <% posts.forEach((post) => { %>
        <li class="blog-listing__item">
          <a href="/blog/<%= post.slug %>"><%= post.title %></a>
          <p class="blog-listing__item__date"><%= post.date %></p>
        </li>
      <% }) %>
    </ul>

  </div>
</main>

<% include partials/footer %>