<% include partials/header %>

<main class="content-area">
  <div class="content-area__container">

    <link rel="stylesheet" href="/css/portfolio.css">

    <div class="portfolio">
      <div class="portfolio__item">
        <a class="portfolio__link" href="/portfolio/focus" title="Focus Ireland" rel="nofollow">
          <img src="./images/focus-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Focus Ireland">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="https://vimeo.com/141068729" title="Intel DCC" rel="nofollow">
          <img src="./images/intel-dcc-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Intel DCC">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="https://www.tourismireland.com" title="Tourism Ireland" rel="nofollow">
          <img src="./images/tourism-ireland-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Tourism Ireland">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="http://www.djei.ie" title="Department of Jobs, Enterprise and Innovation" rel="nofollow">
          <img src="./images/djei-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Department of Jobs, Enterprise and Innovation">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="http://www.theccd.ie" title="Convention Centre Dublin" rel="nofollow">
          <img src="./images/ccd-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Convention Centre Dublin">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="/portfolio/airo" title="AIRO" rel="nofollow">
          <img src="./images/airo-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="AIRO">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="/portfolio/gorta" title="Gorta" rel="nofollow">
          <img src="./images/gorta-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Gorta">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="/portfolio/tripwire" title="Tripwire" rel="nofollow">
          <img src="./images/tripwire-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Tripwire">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="https://www.facebook.com/quigleyguy" title="Eristoff Vodka" rel="nofollow">
          <img src="./images/eristoff-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Eristoff Vodka">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="https://www.facebook.com/quigleyguy" title="Lámha Suas" rel="nofollow">
          <img src="./images/lamha-suas-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Lámha Suas">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="https://www.therickygervaisshow.com" title="The Ricky Gervais Show">
          <img src="./images/ricky-gervais-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="The Ricky Gervais Show">
        </a>
      </div>
      <div class="portfolio__item">
        <a class="portfolio__link" href="/platform" title="Game Based VLE">
          <img src="./images/vle-thumbnail.png" loading="lazy" class="portfolio__image" width="740" height="440" alt="Game Based VLE">
        </a>
      </div>
    </div>

  </div>
</main>

<% include partials/footer %>
