<% include partials/header %>

  <link rel="stylesheet" href="/css/fresco.min.css">

  <section class="content-area">
    <div class="container content-area__container">

      <h1 class="content-area__title">Developing a game-based virtual learning environment</h1>
      <p class="content-area__tools"><strong>Tools & Technology:</strong> Silverlight, C#, WPF, MySQL, Visual Studio, Expression Studio.</p>

      <p>It's a common misconception that "digital natives" have a short attention span when in fact, they are just bored of the old methods of teaching and prefer to learn through fun, interactive games. These learners crave to be the active participant rather than the passive observer. Educators are slowly beginning to acknowledge the advantages of incorporating video games in the class to complement the old tell-test method of teaching.</p>
      <p>The learning platform I developed as part of my research masters provides students with a number of educational games that cover a wide range of localisation awareness topics such as cultural appreciation, linguistic diversity, calendars, currency, and writing systems. Various motivational techniques such as achievements and high score lists are implemented to promote friendly competition among the students and to encourage them to continue playing the games. The platform was also developed as a general purpose virtual learning environment (VLE) in an effort to get more Irish primary schools interested in adopting our product.</p>
      <p>More Information - <a href="http://ulir.ul.ie/handle/10344/1691" target="_blank">Download Publication</a></p>

    </div>
  </section>

  <section class="portfolio">
    <div class="container">
      <div class="portfolio__items">

        <div class="portfolio__item">
          <a class="portfolio__link fresco" href="/images/platform/login.png" data-fresco-group="platform">
            <img src="/images/platform/login.png" class="portfolio__image" alt="">
          </a>
        </div>
        <div class="portfolio__item">
          <a class="portfolio__link fresco" href="/images/platform/homescreen.png" data-fresco-group="platform">
            <img src="/images/platform/homescreen.png" class="portfolio__image" alt="">
          </a>
        </div>
        <div class="portfolio__item">
          <a class="portfolio__link fresco" href="/images/platform/profile.png" data-fresco-group="platform">
            <img src="/images/platform/profile.png" class="portfolio__image" alt="">
          </a>
        </div>
        <div class="portfolio__item">
          <a class="portfolio__link fresco" href="/images/platform/europe-explorer-splash.png" data-fresco-group="platform">
            <img src="/images/platform/europe-explorer-splash.png" class="portfolio__image" alt="">
          </a>
        </div>
        <div class="portfolio__item">
          <a class="portfolio__link fresco" href="/images/platform/europe-explorer-game.png" data-fresco-group="platform">
            <img src="/images/platform/europe-explorer-game.png" class="portfolio__image" alt="">
          </a>
        </div>
        <div class="portfolio__item">
          <a class="portfolio__link fresco" href="/images/platform/highscore-list.png" data-fresco-group="platform">
            <img src="/images/platform/highscore-list.png" class="portfolio__image" alt="">
          </a>
        </div>
        <div class="portfolio__item">
          <a class="portfolio__link fresco" href="/images/platform/avatar-selection.png" data-fresco-group="platform">
            <img src="/images/platform/avatar-selection.png" class="portfolio__image" alt="">
          </a>
        </div>
        <div class="portfolio__item">
          <a class="portfolio__link fresco" href="/images/platform/student-search.png" data-fresco-group="platform">
            <img src="/images/platform/student-search.png" class="portfolio__image" alt="">
          </a>
        </div>
        <div class="portfolio__item">
          <a class="portfolio__link fresco" href="/images/platform/japanese-typing-practice.png" data-fresco-group="platform">
            <img src="/images/platform/japanese-typing-practice.png" class="portfolio__image" alt="">
          </a>
        </div>

      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/fresco.min.js"></script>

<% include partials/footer %>