.portfolio {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.portfolio__item {
  background-color: #ACADAE;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: transform 0.35s cubic-bezier(0.65, -0.5, 0.4, 1.5);
}

.portfolio__item:hover {
  transform: scale(0.94);
}

.portfolio__image {
  display: block;
  width: 100%;
  height: auto;
}