.site-footer {
  color: #FFFFFF;
  background-image: url("../images/hero-small.jpg");
  background-size: 100%;
}

@media (min-width: 35rem) {
  .site-footer {
    background-image: url("../images/hero-large.jpg");
  }
}

.site-footer__container {
  overflow: hidden;
  text-align: center;
  padding: 3rem 1rem;
  background: linear-gradient(
    rgba(1, 1, 1, 0.75),
    rgba(1, 1, 1, 0.65)
  );
}

.site-footer__text {
  margin: 0;
}